/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

.env
.env.*
!.env.example
!.env.template
!.env.local.example

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa
**/node_modules/
**/.cache/
**/coverage/

/medusa/.yarn/*
!/medusa/.yarn/install-state.gz
!/medusa/.yarn/patches
!/medusa/.yarn/plugins
!/medusa/.yarn/releases
!/medusa/.yarn/sdks
!/medusa/.yarn/versions

/medusa/node_modules
/storefront/node_modules